exclude_files=color.hpp

# include/fifechan/platform.hpp:144:  Not in a NOLINT block  [readability/nolint]
# This is a false positive, see Issue: https://github.com/cpplint/cpplint/pull/423
# A new version of cpplint with this bugfix is not yet released,
# so we need to exclude this file until then.
exclude_files=platform.hpp
