Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-diagnostic-*,
  -clang-analyzer-*,
  cert-err34-c,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-union-access,
  google-explicit-constructor,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  modernize*,
  modernize-use-nullptr,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  portability-*,
  misc*,
  -misc-no-recursion,
  -misc-include-cleaner
WarningsAsErrors: >
  clang-analyzer-security.*
#HeaderFilterRegex: '.*include/fifechan.*\.hpp'
SystemHeaders: false
# Use our .clang-format file when applying fixes.
FormatStyle: file
