*.la
*.lo
*.o
*.pc
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.hpp
include/config.hpp.in
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
libfifechan.so
libfifechan.so.0.9.0
libfifechan_opengl.so
libfifechan_opengl.so.0.9.0
libfifechan_sdl.so
libfifechan_sdl.so.0.9.0
