# Do not search for other config files.
set noparent

# You have 30 inch TFTs at the Google HQ. Stop using 80.
linelength=120
includeorder=standardcfirst

#
# You can list all filters with:
# cpplint --filter=.
# -------------------------------------------------------

# Enabled filters

filter=+build/include_what_you_use
filter=+build/include_alpha

# Disabled filters

# Disable is an unapproved C++XX header warnings
filter=-build/c++11
filter=-build/c++17
filter=-build/header_guard
filter=-build/include_order
filter=-build/include_subdir
filter=-readability/todo
filter=-runtime/references
filter=-runtime/string

filter=-runtime/references
filter=-runtime/indentation_namespace

filter=-whitespace

# ignore trifunowitsch utf8
exclude_files=include/fifechan/util/utf8/utf8/unchecked.hpp
exclude_files=include/fifechan/util/utf8/utf8/checked.hpp
exclude_files=include/fifechan/util/utf8/utf8/core.hpp

# reinterpret_cast<Uint8*> etc.
exclude_files=include/fifechan/sdl/sdlpixel.hpp
exclude_files=src/sdl/sdlgraphics.cpp

# explict on constructor would make implicit int conversion fail
exclude_files=include/fifechan/color.hpp
